node_modules
.turbo
.alchemy
.env
dist
.task-o-matic
le-croissant-*
tsconfig.tsbuildinfo
nouveau_croissant.md
renouveau_croissant.md
task-o-matic.code-workspace
test_wf_prompt.txt
cmd2.txt
cmd1.txt
docs/FO_bak/
